
#hero .gradient-text {
  background: linear-gradient(to bottom right, var(--bs-body-color), var(--bs-primary-text-emphasis));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-white { color: #fff; }
.text-gray-100 { color: #f1f5f9; }
.text-gray-200 { color: #e5e7eb; }


#hero #hero-avatar {
  height: auto;
  width: 256px;
}
#hero svg#hero-avatar:hover #eyes .open,
#hero svg#hero-avatar:hover #eyes .wink {
  animation-duration: 0.125s;
  animation-delay: 1.25s;
  animation-iteration-count: 1;
}
#hero svg#hero-avatar:hover #eyes .open { animation-name: animOpen; }
#hero svg#hero-avatar:hover #eyes .wink { animation-name: animWink; }

@keyframes animOpen {
  0% { fill-opacity: 0.6; }
  0.01% { fill-opacity: 0; }
  99.9% { fill-opacity: 0; }
  100% { fill-opacity: 0.6; }
}
@keyframes animWink {
  0% { fill-opacity: 0; }
  0.01% { fill-opacity: 0.6; }
  99.9% { fill-opacity: 0.6; }
  100% { fill-opacity: 0; }
}

/* currently unused */
.instagram-icon {
  border-radius: 10px; /* Optional: for a rounded square shape */
  background: linear-gradient(
    45deg,
    #f09433 0%, /* Light yellow/orange */
    #e6683c 25%, /* Orange */
    #dc2743 50%, /* Red */
    #cc2366 75%, /* Pink/Purple */
    #bc1888 100% /* Dark purple */
  );
  /* Optional: For older browser compatibility */
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

/* .social-links.alt1 a {
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 3rem;
}

.social-links.alt2 a {
  background-color: var(--bs-link-color);
  color: var(--bs-primary-bg-subtle);
  padding: 0.25rem;
  border-radius: 3rem;
  font-size: 36px;
  line-height: 1;
  padding: 0.64rem;
} */

@media (max-width: 575.98px){
  .social-links .fs-1 {
    font-size: 2.5rem !important;
    margin: 0 1vw;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #hero > div {
    align-items: flex-start!important;
  }
  #hero #hero-avatar {
    height: auto;
    width: 172px;
  }
}
