/* variables */
:root{
  --text-primary: #fff;
  --text-highlight-rgb: 0, 196, 255;
  --text-highlight: rgb(var(--text-highlight-rgb));
  --bg-primary: #212529;
  --bg-secondary: #13111c;
  --bs-heading-color: #fdfdff;
  --bs-link-color-rgb: var(--text-highlight-rgb);
}


/* base styles */
body {
  background-color: var(--bg-secondary);
}

button {
  cursor: pointer;
}

small, .small {
  font-size: 0.875em;
  line-height: 1.125;
}

.smaller {
  font-size: 11px;
  line-height: 1;
}

/* Site wide styles */

.App a {
  --bs-link-color: rgba(var(--text-highlight-rgb), 1);
  --bs-link-color-rgb: var(--text-highlight-rgb);
  --bs-link-hover-color: rgba(255, 255, 255, 1);
  transition: color 0.125s;
  text-decoration: none;
}
.App a:hover {
  /* text-decoration: underline; */
  color: #ffffff;
}

.page {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.hover-text-white:hover {
  color: #ffffff;
}


/* Responsive styles */

@media (max-width: 447.98px) {

  .page {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  /* html {font-size: 88%;}
  .smaller {font-size: 8px;} */
}
@media (max-width: 319.98px) {
  .page {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  /* html {font-size: 62.5%;}
  .smaller {font-size: 7px;}
  .d-xs-inline {display:none!important;} */
}
@media (max-width: 219.98px) {

  .page {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  /* html {font-size: 50%;}
  .smaller {font-size: 6px;}
  .d-xss-inline {display:none!important;} */
}



@media (min-width: 576px) {
  .fs-sm-5 { font-size: 1.25rem !important; }
  .fs-sm-6 { font-size: 1rem !important; }
}
@media (min-width: 768px) {
  .fs-md-5 { font-size: 1.25rem !important; }
  .fs-md-6 { font-size: 1rem !important; }
}
