/* variables */
:root{
  --text-primary: #fff;
  --text-highlight-rgb: 255, 153, 255;
  --text-highlight: rgb(var(--text-highlight-rgb));
  --bg-primary: #212529;
  --bg-secondary: #13111c;
}

/* reset */
* {
  box-sizing: border-box;
}
body, p, ul, li {
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);

}

button {
  cursor: pointer;
}

.smaller {
  font-size: 11px;
}
