/* variables */
:root{
  --text-primary: #fff;
  --text-highlight-rgb: 0, 196, 255;
  --text-highlight: rgb(var(--text-highlight-rgb));
  --bg-primary: #212529;
  --bg-secondary: #13111c;
}

/* reset */
* {
  box-sizing: border-box;
}

body, p, ul, li {
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);

}

button {
  cursor: pointer;
}

.smaller {
  font-size: 11px;
}

/* Site wide styles */

.page {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

@media (max-width: 447.98px) {
  .page {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  /* html {font-size: 88%;}
  .smaller {font-size: 8px;} */
}
@media (max-width: 319.98px) {
  .page {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  /* html {font-size: 62.5%;}
  .smaller {font-size: 7px;}
  .d-xs-inline {display:none!important;} */
}
@media (max-width: 219.98px) {

  .page {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  /* html {font-size: 50%;}
  .smaller {font-size: 6px;}
  .d-xss-inline {display:none!important;} */
}
